h1 {
  color: rgb(0, 26, 255);
}

h2 {
  border: solid 2px blue;
  background-color: rgba(255, 192, 203, 0.562);
  border-radius: 15px;
}
h1,
h2,
h3,
h4,
span {
  text-align: center;
  margin: 0.2rem;
  margin-top: 0.1rem;
}

/* img[src*="#thumbnail"] {
   width:50px;
   height:100px;
}
img[src~="thumbnail"] {
   width:150px;
   height:100px;
} */
/* img[src~="bordered"] {
   border: 1px solid black;
} */

ul {
  box-sizing: border-box;
  /* border:solid 1px blue; */
  padding: inherit;
  margin: 0 auto;
  /* max-height:90%; */
}
li {
  box-sizing: border-box;
  /* max-height:98%; */
  /* position:relative; */
  /* border:solid 1px; */
  border-radius: 0.5rem;
  list-style: inside;
  text-align: left;
  margin-left: 2rem;
  padding: 0.5rem;
}
section {
  border: dotted;
  padding: 0.2rem;
  /* max-height:90vh; */
  /* height:700px; */
  /* display:flex;
  flex-flow:wrap;
  align-items:center;
  justify-content:center; */
}
blockquote,
ul,
section,
img,
p,
div {
  overflow: auto;
  box-sizing: border-box;
  max-height: 98%;
}
/* li ul{
  border:solid 1px
} */
citation {
  background: aqua;
}
img {
  box-sizing: border-box;
  max-height: 75vh;
  /* max-height:570px; */
  border: solid 1px red;
  margin: 0.1rem;
  border-radius: 1rem;
  object-fit: contain;
  /* float:right; */
  /* width:260px; */
  /* height:600px; */
}
code {
  color: red;
  text-decoration: underline wavy blue 1px;
}
